In [2]:
# Write a program to print prime numbers between 1 to 20
for n in range(1, 20):
    flag = True
    for i in range(2, n):
        if n % i == 0:
            flag = False
            break   
    if flag :
        print(n)

1
2
3
5
7
11
13
17
19

In [ ]:
#Comprehensions

In [30]:
l1 = ["Automobiles", "Honda", "Benz", "Suzuki"]

l2 = []

for i in l1 :
    l2.append(len(i))
    
l2

[11, 5, 4, 6]

In [26]:
# Example on list comprehension

l1 = ["Automobiles", "Honda", "Benz", "Suzuki"]
l2 = [len(i) for i in l1]
print(l2)

[11, 5, 4, 6]

In [24]:
for i,j in zip(l1,l2):
    print(i,"-",j)

automobiles - 11
Honda - 5
Benz - 4
Suzuki - 6

In [28]:
# Example of dictionary comprehension

l1 = ["Automobiles", "Honda", "Benz", "Suzuki"]
d = {i : len(i) for i in l1}
print(d)

{'Automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6}

In [38]:
l1 = ["Automobiles", "Honda", "Benz", "Suzuki"]
d = {i: len(i) for i in l1}
print(d)

for key, value in d.items():
    print(f"{key}: {value}")

{'Automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6}
Automobiles: 11
Honda: 5
Benz: 4
Suzuki: 6

In [44]:
#Functions

#take a value and return its factorial

def factorial(n):
    fact = 5 
    for i in range(1, n+1):
        fact *= i  
    return fact
factorial(5)

600

In [53]:
#Function argument

def func(name, age = 35):  # default parameter
    print("name : ", name)
    print("age : ", age)

In [55]:
func("Hamster", 22)

name :  Hamster
age :  22

In [65]:
#Lambda Function

# Write a lambda function to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"
f(12,5,2)

TypeError: <lambda>() takes 1 positional argument but 3 were given

In [68]:
f = lambda x: "even" if x % 2 == 0 else "odd"
f(12)

'even'

In [70]:
f = lambda x: "even" if x % 2 == 0 else "odd"
f(5)

'odd'