In [25]:
#Generate user_id
# User details on name, year of birth and age
name = 'Hamster Python Wizard'
yob	= 2002	
age	= 22

In [27]:
print(name+str(yob)+str(age))

Hamster Python Wizard200222

In [29]:
# Extract user id using string formatting - user's name + yob + age without any whitespaces
user_id =(name+str(yob)+str(age))
print("The user_id for the user {} with year of birth {} and age {} is {}".format(name, yob, age, user_id))

The user_id for the user Hamster Python Wizard with year of birth 2002 and age 22 is Hamster Python Wizard200222

In [33]:
name.replace(" ","_")

'Hamster_Python_Wizard'

In [35]:
name.replace("","_")

'_H_a_m_s_t_e_r_ _P_y_t_h_o_n_ _W_i_z_a_r_d_'

In [47]:
user_id = name.replace(" ","_")+(str(yob)+str(age)) #remove spaces in b/w the name and surname of the user
print(user_id)

Hamster_Python_Wizard200222

In [49]:
# Find the length of the name
len(name)

21

In [67]:
##Extract the first letter of name
name.split(" ")[0][0]+ name.split(" ")[1][0]+ name.split(" ")[2][0]+ str(yob)+str(age)

'HPW200222'